@import "src/assets/styles/variables.scss";

::ng-deep {
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 50px 20px;
  }

  .wrapped-div {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: $black;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    min-height: 530px;
    position: relative;
    padding: 0px;
    @include box-shadow-30;
  }

  /* Tabs */
  .tab-header {
    text-align: center;
  }

  .tab-header h2.active {
    color: $white;
    border-bottom: 2px solid $white;
  }

  .tab-header h2 {
    text-align: center;
    font-size: 18px;
    padding: 20px 0 10px 0;
    cursor: pointer;
    color: $pale-black;
    border-bottom: 2px solid $pale-black;
    @include transition;
    &:hover {
      color: $gray;
      border-color: $gray;
    }
  }

  .tab-header h2:focus {
    outline: none;
  }

  form {
    margin: 0px 15px;
  }
}
