<div class="vehicle-container text-center" *ngIf="vehicle">
  <app-icon
    [item]="'grade'"
    size="large"
    class="favorite"
    *ngIf="vehicle.isFavorite"
  ></app-icon>
  <div class="vehicle-image">
    <app-vehicle-icon [color]="vehicle.color"></app-vehicle-icon>
  </div>
  <div class="pb-3 pt-3">
    <h3 class="vehicle-name text-bold">
      {{ vehicle.brand }}
    </h3>
    <h4 class="vehicle-name text-bold">
      {{ vehicle.model }}
    </h4>
    <h5 class="vehicle-number">{{ vehicle.registrationNumber }}</h5>
  </div>
</div>
