<div class="container section">
  <div class="row">
    <div class="col-12">
      <img
        src="/assets/img/page-not-found/404-error.svg"
        class="mx-auto d-block img-fluid"
      />
    </div>
    <h1 class="col-12 text-center"><strong>Ooops!</strong></h1>
    <h3 class="col-12 text-center"><strong>404</strong> - Page not found!</h3>
    <p class="col-12 text-center">
      The page you are looking for might have been removed, had its name changed
      or is temporarily unavailable.
    </p>
    <br />
    <div class="col-12 text-center">
      <a href="/home" class="btn btn-lg btn-primary">Go to home page</a>
    </div>
  </div>
</div>
