<div class="container section">
  <div class="row">
    <div class="col-12">
      <img
        src="/assets/img/page-not-found/404-error.svg"
        class="mx-auto d-block img-fluid"
      />
    </div>
    <h1 class="col-12 text-center"><strong>Ooops!</strong></h1>
    <h3 class="col-12 text-center"><strong>Vehicle</strong> not found!</h3>
    <p class="col-12 text-center">
      The vehicle might have been removed or is temporarily unavailable.
    </p>
    <br />
    <div class="col-12 text-center">
      <a href="/garage" class="btn btn-lg btn-primary">Go to garage page</a>
    </div>
  </div>
</div>
