<div class="container add-section">
  <div class="row">
    <div class="offset-lg-3 col-lg-6 col-12 mt-5 mb-5">
      <form
        class="tile"
        [formGroup]="addNewVehicleForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="tile-header">
          <h3 class="mb-0">Add new car</h3>
        </div>
        <div class="tile-body">
          <div class="form-group mb-1">
            <label>Select your vehicle type:</label>
          </div>
          <div class="row mb-3">
            <div class="col-4" (click)="selectVehicleType(1)">
              <div
                class="vehicle-type"
                [ngClass]="{ selected: selectedVehicleType === 1 }"
              >
                <app-motorcycle-icon></app-motorcycle-icon>
              </div>
            </div>
            <div class="col-4" (click)="selectVehicleType(2)">
              <div
                class="vehicle-type"
                [ngClass]="{ selected: selectedVehicleType === 2 }"
              >
                <app-car-icon></app-car-icon>
              </div>
            </div>
            <div class="col-4" (click)="selectVehicleType(3)">
              <div
                class="vehicle-type"
                [ngClass]="{ selected: selectedVehicleType === 3 }"
              >
                <app-truck-icon></app-truck-icon>
              </div>
            </div>
          </div>
          <div class="row">
            <div
              class="col-sm-6 form-group"
              *ngIf="vehiclesList"
              [ngClass]="{ 'col-sm-12': selectedVehicleType !== 2 }"
            >
              <label>Brand</label>
              <select
                class="form-control"
                formControlName="brand"
                (change)="changeBrand()"
              >
                <option
                  *ngFor="let vehicle of vehiclesList"
                  [ngValue]="vehicle.brand"
                >
                  {{ vehicle.brand }}
                </option>
              </select>
            </div>
            <div
              class="col-sm-6 form-group"
              *ngIf="brand.value && selectedVehicleType === 2"
            >
              <label>Model</label>
              <select class="form-control" formControlName="model">
                <option *ngFor="let model of modelsList" [ngValue]="model">
                  {{ model }}
                </option>
                <option>Other</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label>Fuel</label>
            <select class="form-control" formControlName="fuel">
              <option *ngFor="let fuel of fuelList" [ngValue]="fuel.id">
                {{ fuel.value }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Color</label>
            <select class="form-control" formControlName="color">
              <option *ngFor="let color of colorList" [ngValue]="color">
                {{ color | titlecase }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Registration number</label>
            <input class="form-control" formControlName="registrantionNumber" />
          </div>
          <div class="form-group">
            <label>VIN</label>
            <input class="form-control" formControlName="vin" />
          </div>
        </div>
        <div class="tile-footer">
          <div class="row">
            <div class="offset-3 col-6">
              <button
                type="submit"
                class="btn btn-lg btn-block btn-primary"
                [disabled]="!canSubmit()"
              >
                Add
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
