// Color palette
// from https://flatuicolors.com/palette/se
$pale-pink: #ef5777;
$pink: #f53b57;

$pale-purple: #575fcf;
$purple: #3c40c6;

$pale-blue: #4bcffa;
$blue: #0fbcf9;

$pale-turquoise: #34e7e4;
$turquoise: #00d8d6;

$pale-green: #0be881;
$green: #05c46b;

$pale-orange: #ffc048;
$orange: #ffa801;

$pale-yellow: #ffdd59;
$yellow: #ffd32a;

$pale-red: #ff5e57;
$red: #ff3f34;

$pale-gray: #d2dae2;
$gray: #808e9b;

$pale-black: #485460;
$black: #1e272e;

$pale-white: #ecf0f1;
$white: #ffffff;

// App colors:

$primary: $turquoise;
$accent-primary: $pale-turquoise;

$danger: $red;
$accent-danger: $pale-red;

$warning: $orange;
$accent-warning: $pale-orange;

$success: $green;
$accent-success: $pale-green;

// Mixins
@mixin transition {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
