<div class="row" *ngIf="preview && previewClasses">
  <div class="mt-3 mb-3 tile" [ngClass]="previewClasses.firstVehicleStyle">
    <app-vehicle-tile [vehicle]="preview.vehicles[0]"></app-vehicle-tile>
  </div>
  <div class="mt-3 mb-3 tile" [ngClass]="previewClasses.secondVehicleStyle">
    <app-vehicle-tile [vehicle]="preview.vehicles[1]"></app-vehicle-tile>
  </div>
  <div
    class="mt-3 mb-3 tile"
    [ngClass]="previewClasses.garageStyle"
    routerLink="/garage"
  >
    <app-garage-tile [vehiclesInGarage]="preview.vehiclesInGarage">
    </app-garage-tile>
  </div>
  <div
    class="mt-3 mb-3 tile"
    [ngClass]="previewClasses.addStyle"
    routerLink="/add-new-vehicle"
  >
    <app-add-vehicle-tile></app-add-vehicle-tile>
  </div>
</div>
