@import "src/assets/styles/variables.scss";

.motorcycle-color {
  fill: $primary;

  &.motorcycle- {
    &pink {
      fill: $pink;
    }
    &purple {
      fill: $purple;
    }
    &blue {
      fill: $blue;
    }
    &green {
      fill: $green;
    }
    &orange {
      fill: $orange;
    }
    &yellow {
      fill: $yellow;
    }
    &red {
      fill: $red;
    }
    &gray {
      fill: $gray;
    }
    &black {
      fill: $black;
    }
    &white {
      fill: $white;
    }
  }
}

.tyre {
  fill: $gray;
}

.inline {
  fill: $pale-white;
}

.outline {
  fill: $black;
}
